// Place all the styles related to the constructions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

label {
    width: 60px;
    text-align: center;
}

.actions {
    width: 60px;
    text-align: center;
    margin-top: 10px;
}

.construction-list{
    text-align: center;
}

.list-num{
    text-align: right;
}